mat-toolbar {
  background: #4e8ec2;
  color: white;
  min-height: 80px;

  & mat-icon {
    color: white;
  }

  & .logo {
    width: 50px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
  }

  & a {
    min-width: 100px;
    margin: 5px;
    background: #6d6b6d;
    color: #ffffff;
    border-radius: 15px;
    font-size: 20px;
    font-family: "Al Bayan", serif;
  }
}

.search {
  min-width: 150px;
  min-height: 30px;
  border-radius: 20px;
  border: none;
  align-content: center;
  padding-left: 15px;

}

.spacer {
  flex: 1 1 auto;
}
